<mat-toolbar color="accent">
  <mat-toolbar-row>
    <button
      mat-icon-button
      (click)="goBack()"
    >
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
    <span>Sale</span>
  </mat-toolbar-row>
</mat-toolbar>

<ng-template #empty>
  <mat-card class="none-info">
    BRAK DANYCH O SALACH
  </mat-card>
</ng-template>
<mat-card>
    <p>Filtruj dane:</p>
   <!-- Building number -->
   <mat-form-field appearance="outline">
    <mat-select
      [formControl]="building"
      placeholder="Wybierz numer budynku"
    >
      <mat-option
        *ngFor="let build of buildings"
        [value]="build"
      >
        {{ build.name }}
      </mat-option>
      <mat-option
        [value]="null"
      >
        Wszystkie
      </mat-option>
    </mat-select>
  </mat-form-field>

</mat-card>
<table
  *ngIf="rooms && rooms.length; else empty"
  mat-table
  [dataSource]="dataSource"
  class="mat-elevation-z8"
>

  <!-- Number Column -->
  <ng-container matColumnDef="number">
    <th
      mat-header-cell
      *matHeaderCellDef
    > Numer sali </th>
    <td
      mat-cell
      *matCellDef="let room"
      class="cursor-pointer"
    > {{ room.number }}
    </td>
  </ng-container>

  <!-- Building Column -->
  <ng-container matColumnDef="building">
    <th
      mat-header-cell
      *matHeaderCellDef
    > Nr budynku </th>
    <td
      mat-cell
      *matCellDef="let room"
      class="cursor-pointer"
    > {{ room.building.name }}
    </td>
  </ng-container>

  <!-- Room Type Column -->
  <ng-container matColumnDef="type">
    <th
      mat-header-cell
      *matHeaderCellDef
    > Typ sali </th>
    <td
      mat-cell
      *matCellDef="let room"
      class="cursor-pointer"
    > {{ getRoomType(room.type) }}
    </td>
  </ng-container>

  <!-- Limit Of Places Column -->
  <ng-container matColumnDef="limitOfPlaces">
    <th
      mat-header-cell
      *matHeaderCellDef
    > Liczba miejsc </th>
    <td
      mat-cell
      *matCellDef="let room"
      class="cursor-pointer"
    > {{ room.limitOfPlaces }}
    </td>
  </ng-container>

  <!-- Display Schedule Column -->
  <ng-container matColumnDef="displaySchedule">
    <th
      mat-header-cell
      *matHeaderCellDef
    > Plan zajęć </th>
    <td
      mat-cell
      *matCellDef="let room"
      class="cursor-pointer"
    >
    <button
          mat-raised-button
          color="accent"
          (click)="displaySchedule(room)"
        >
          Wyświetl plan zajęć
        </button>
    </td>
  </ng-container>

  <tr
    mat-header-row
    *matHeaderRowDef="getColumns()"
  ></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: getColumns();"
  ></tr>

</table>
<!-- <mat-card class="align-right">
  <button
    mat-raised-button
    color="accent"
    (click)="addTeacher()"
    class="margin-y"
  >Dodaj nauczyciela</button>
</mat-card> -->
