mat-form-field {
  width: 50%;
}

.align-right {
  text-align: end;
}

.align-center {
  text-align: center;
}

.margin-y {
  margin: 22px 0;
}

mat-card.align-right {
  box-shadow: none;
}

.width-50 {
  width: 50%;
}

.example-container {
  width: 400px;
  max-width: 100%;
  display: inline-block;
  vertical-align: top;
}

.btn-container {
  display: inline-block;
  width: 80px;
  text-align: center;
  margin-top: 22px;

  button {
    text-align: start;

    .mat-icon {
      font-size: 36px;
    }
  }
}

.example-list {
  border: solid 1px #ccc;
  min-height: 500px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
