<mat-toolbar color="accent">
  <mat-toolbar-row>
    <button
      mat-icon-button
      (click)="goBack()"
    >
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
    <span>Tworzenie nowego planu zajęć</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-vertical-stepper
  linear
  #stepper
>

  <!--- STEP 1 : CHOOSE MAJOR -->
  <mat-step [stepControl]="majorForm">
    <form [formGroup]="majorForm">
      <ng-template matStepLabel>Wybierz kierunek studiów</ng-template>
      <!-- Major Input -->
      <mat-form-field appearance="outline">
        <mat-label>Kierunek</mat-label>
        <mat-select formControlName="major">
          <mat-option
            *ngFor="let major of majors"
            [value]="major"
          >
            {{ major.name }}
          </mat-option>
        </mat-select>
        <mat-error>
          <span *ngIf="majorForm.controls['major'].hasError('required')">
            Pole jest wymagane.
          </span>
        </mat-error>
      </mat-form-field>
      <div class="width-50 align-right">
        <button
          mat-button
          matStepperNext
          (click)="fetchGroups()"
        >Następny</button>
      </div>
    </form>
  </mat-step>

  <!--- STEP 2 : CHOOSE MAJOR GROUP -->
  <mat-step [stepControl]="groupForm">
    <form [formGroup]="groupForm">
      <ng-template matStepLabel>Wybierz grupę, dla której chcesz przygotować plan zajęć</ng-template>
      <!-- Group Input -->
      <mat-form-field appearance="outline">
        <mat-label>Rocznik</mat-label>
        <mat-select formControlName="group">
          <mat-option
            *ngFor="let group of majorGroups"
            [value]="group"
          >
            {{ getGroupInfo(group) }}
          </mat-option>
          <mat-option
            *ngIf="majorGroups && !majorGroups.length"
            disabled
          >
            Wszystkie grupy mają już ułożone podziały godzin.
          </mat-option>
        </mat-select>
        <mat-error>
          <span *ngIf="majorForm.controls['major'].hasError('required')">
            Pole jest wymagane.
          </span>
        </mat-error>
      </mat-form-field>
      <div class="width-50 align-right">
        <button
          mat-button
          matStepperPrevious
        >Powrót</button>
        <button
          mat-button
          matStepperNext
          (click)="fetchCourses()"
        >Następny</button>
      </div>
    </form>
  </mat-step>

  <!--- STEP 3 : CHOOSE COURSES AND CREATE CLASSES -->
  <mat-step [stepControl]="coursesForm">
    <form [formGroup]="coursesForm">
      <ng-template matStepLabel>Wybierz przedmioty</ng-template>

      <div class="example-container">
        <h2 class="mat-h2 margin-y align-center">Wszystkie przedmioty</h2>

        <div
          cdkDropList
          id="cdk-drop-list-0"
          #allCoursesList="cdkDropList"
          [cdkDropListData]="allCourses"
          [cdkDropListConnectedTo]="[chosenCoursesList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div
            class="example-box"
            *ngFor="let course of getCoursesNames(allCourses)"
            cdkDrag
          >{{ course }}</div>
        </div>
      </div>

      <div class="btn-container">
        <button
          mat-icon-button
          (click)="moveEveryCourse()"
        >
          <mat-icon>swap_horiz</mat-icon>
        </button>
      </div>

      <div class="example-container">
        <h2 class="mat-h2 margin-y align-center">Wybrane przedmioty</h2>

        <div
          cdkDropList
          id="cdk-drop-list-1"
          #chosenCoursesList="cdkDropList"
          [cdkDropListData]="chosenCourses"
          [cdkDropListConnectedTo]="[allCoursesList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div
            class="example-box"
            *ngFor="let course of getCoursesNames(chosenCourses)"
            cdkDrag
          >{{ course }}</div>
        </div>
      </div>

      <div class="margin-y align-right">
        <button
          mat-button
          matStepperPrevious
        >Powrót</button>
        <button
          mat-button
          matStepperNext
          (click)="isCourseFormValid()"
        >Następny</button>
      </div>
    </form>
  </mat-step>

  <!--- STEP 4 : FILL OUT FORM ABOUT CLASSES -->
  <mat-step>
    <form>
      <ng-template matStepLabel>Uzupełnij informacje o zajęciach</ng-template>

      <app-create-classes
        [scheduleId]="schedule ? schedule.id : ''"
        [courses]="chosenCourses"
        [majorGroup]="chosenMajorGroup"
        [majorName]="majorForm.value ? majorForm.value.major.name : ''"
        (formChanges)="isClassFormValid($event)"
        (classesChanges)="setClasses($event)"
      ></app-create-classes>

      <div class="margin-y align-right">
        <button
          mat-button
          matStepperPrevious
        >Powrót</button>
        <button
          mat-button
          matStepperNext
          [disabled]="!ifClassFormValid && (!this.classes || !this.classes.length)"
        >Następny</button>
      </div>
    </form>
  </mat-step>

  <!--- STEP 5 : MAKE A SCHEDULE -->
  <mat-step>
    <form>
      <ng-template matStepLabel>Ułóż plan zajęć</ng-template>

      <app-schedule-classes
        [schedule]="schedule ? schedule : null"
        [createdClasses]="classes"
        (scheduleCompleted)="setSchedule($event)"
      ></app-schedule-classes>

      <div class="margin-y align-right">
        <button
          mat-button
          matStepperPrevious
        >Powrót</button>
        <button
          mat-button
          matStepperNext
          [disabled]="!completedSchedule"
        >Następny</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Podsumowanie</ng-template>
    <h1>Dodawanie plana zajęć dla: </h1>
    <p>Kierunek: {{ majorForm.value.major.name }}</p>
    <p>Grupa: {{ getGroupInfo(groupForm.value.group) }}</p>
    <div class="margin-y align-right">
      <button
        mat-button
        matStepperPrevious
      >Powrót</button>
      <button
        mat-button
        color="accent"
        (click)="saveSchedule()"
      >Dodaj plan zajęć</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
