<mat-sidenav-container class="example-container">
  <mat-sidenav
    mode="side"
    opened
  >
    <mat-nav-list>
      <a
        mat-list-item
        *ngFor="let nav of navMenu"
        routerLink="{{ nav.link }}"
      >
      <mat-icon>{{ nav.icon }}</mat-icon>
      {{ nav.name }}
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-main-content-wrapper></app-main-content-wrapper>
  </mat-sidenav-content>
</mat-sidenav-container>
