<mat-toolbar color="accent">
    <mat-toolbar-row>
      <button
        mat-icon-button
        (click)="goBack()"
      >
        <mat-icon>keyboard_backspace</mat-icon>
      </button>
      <span>Edytuj plan zajęć {{ nameInfo }}</span>
    </mat-toolbar-row>
  </mat-toolbar>

<mat-card *ngIf="schedule">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th
          class="font-500 width-narrow"
          scope="col"
        >Godzina\Dzień</th>
        <th
          *ngFor="let day of schedule.days"
          class="font-500"
          scope="col"
        >{{ day.dayType | translateToPl }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let elem of classTime">
        <th
          class="font-500 width-narrow"
          scope="row"
        >{{ elem.from }} - {{ elem.to }}</th>
        <td
          *ngFor="let day of schedule.days; let i = index"
          class="cursor-pointer on-hover"
          (click)="openMenuOptions(day, elem)"
        >
          <div class="align-row">
            <mat-card
            *ngFor="let cls of getScheduledClasses(day.classes, elem)"
              class="class-card"
            >{{ getClassDetails(cls) }}</mat-card>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="align-right">
      <button
          mat-raised-button
          color="accent"
          (click)="editSchedule()"
          class="margin-y"
        >Uaktualnij plan</button>
    </div>
</mat-card>
