<mat-toolbar color="secondary">
  <mat-toolbar-row>
    <span
      class="home"
      (click)="redirect('')"
    >Scheduler</span>
    <span class="spacer"></span>
    <button
      mat-raised-button
      class="space-between"
      routerLink="/login"
    >
      <span class="uppercases">
        Zaloguj się
      </span>
    </button>
    <button
      mat-raised-button
      class="space-between"
      routerLink="/signup"
    >
      <span
        class="uppercases"
        color="primary"
      >
        Zarejestruj się
      </span>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
