<h1 mat-dialog-title>Czy chcesz dodać plan zajęć dla kierunku: </h1>
<span>{{ data.major }}, rocznik {{ data.group ? data.group.beginYear : '' }}/{{ data.group? data.group.beginYear+1 : '' }}?</span>
<div mat-dialog-actions>
  <button
    mat-raised-button
    (click)="onCancel()"
  >Odrzuć</button>
  <button
    mat-raised-button
    color="accent"
    (click)="onConfirm()"
    cdkFocusInitial
  >Dodaj</button>
</div>
