.login-container {
  height: 969px - 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form.login-form {
  display: flex;
  flex-direction: column;
  align-content: center;
}

h2.mat-display-1 {
  text-align: center;
}

mat-card {
  min-width: 500px;
  padding: 40px;
}

mat-form-field {
  margin-bottom: 36px;
}
