<div class="login-container">
  <mat-card color="secondary">
    <h2 class="mat-display-1">ZALOGUJ SIĘ</h2>
    <form
      class="login-form"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
    >
      <mat-form-field appearance="outline">
        <mat-label>Identyfikator</mat-label>
        <input
          matInput
          placeholder="Identyfikator"
          formControlName="id"
          required
        >
        <mat-icon matSuffix>person</mat-icon>
        <mat-error *ngIf="loginForm.controls['id'].invalid">
          Proszę wprowadzić poprawny identyfikator.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Hasło</mat-label>
        <input
          matInput
          type="password"
          placeholder="Hasło"
          formControlName="password"
          required
        >
        <mat-icon matSuffix>lock</mat-icon>
        <mat-error *ngIf="loginForm.controls['password'].invalid">
          Proszę wprowadzić poprawne hasło.
        </mat-error>
      </mat-form-field>

      <button
        mat-raised-button
        color="accent"
        type="submit"
      >
        Zaloguj się
      </button>
    </form>
  </mat-card>
</div>
