<h1 mat-dialog-title>
  <span *ngIf="!data">Dodaj nauczyciela</span>
  <span *ngIf="data">Edytuj nauczyciela</span>
</h1>
<div mat-dialog-content>
  <form [formGroup]="newTeacherForm">

    <!-- Title Input -->
    <mat-form-field appearance="outline">
      <mat-label>Tytuł</mat-label>
      <input
        matInput
        formControlName="title"
      >
      <mat-error>
        <span *ngIf="newTeacherForm.controls['title'].hasError('required')">
          Tytuł jest wymagany.
        </span>
      </mat-error>
    </mat-form-field>

    <!-- First name Input -->
    <mat-form-field appearance="outline">
      <mat-label>Imię</mat-label>
      <input
        matInput
        #firstNameInput
        formControlName="firstName"
      >
      <mat-error>
        <span *ngIf="newTeacherForm.controls['firstName'].hasError('required')">
          Imię jest wymagane.
        </span>
      </mat-error>
    </mat-form-field>

    <!-- Last name Input -->
    <mat-form-field appearance="outline">
      <mat-label>Nazwisko</mat-label>
      <input
        matInput
        #lastNameInput
        formControlName="lastName"
      >
      <mat-error>
        <span *ngIf="newTeacherForm.controls['lastName'].hasError('required')">
          Nazwisko jest wymagane.
        </span>
      </mat-error>
    </mat-form-field>

      <!-- Office FORM GROUP -->
    <div [formGroup]="office">

      <!-- Building number -->
      <mat-form-field appearance="outline">
        <mat-select
          formControlName="building"
          placeholder="Wybierz numer budynku"
          (selectionChange)="defineRoomSelectOptions()"
        >
          <mat-option
            *ngFor="let build of buildings"
            [value]="build"
          >
            {{ build.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Office number -->
      <mat-form-field appearance="outline">
        <mat-select
          formControlName="number"
          placeholder="Wybierz numer sali"
        >
          <mat-option
            *ngFor="let room of rooms"
            [value]="room"
          >
            {{ getRoom(room.number, room.type) }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button
    mat-raised-button
    (click)="onCancel()"
  >Odrzuć</button>
  <button
    mat-raised-button
    color="accent"
    (click)="onSaveTeacher()"
    cdkFocusInitial
  >Zapisz</button>
</div>
