<mat-toolbar color="accent">
    <mat-toolbar-row>
      <button
        mat-icon-button
        (click)="goBack()"
      >
        <mat-icon>keyboard_backspace</mat-icon>
      </button>
      <span>Edytuj plan zajęć</span>
    </mat-toolbar-row>
  </mat-toolbar>
<mat-card
  *ngIf="classes && classes.length"
  class="classes-list"
>
  <mat-selection-list
    #selectionList
    *ngIf="classes"
    (selectionChange)="onSingleSelect($event)"
  >
    <h3 mat-subheader>Zajęcia</h3>
    <mat-list-option
      *ngFor="let class of classes"
      [value]="class"
    >
      <span
        mat-line
        class="medium-font bolder"
      >{{ class.name }}</span>
      <span
        mat-line
        class="small-font"
      >{{ getClassInfo(class) }}</span>
    </mat-list-option>
  </mat-selection-list>
</mat-card>

<mat-card *ngIf="schedule">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th
          class="font-500 width-narrow"
          scope="col"
        >Godzina\Dzień</th>
        <th
          *ngFor="let day of schedule.days"
          class="font-500"
          scope="col"
        >{{ day.dayType | translateToPl }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let elem of classTime">
        <th
          class="font-500 width-narrow"
          scope="row"
        >{{ elem.from }} - {{ elem.to }}</th>
        <td
          *ngFor="let day of schedule.days; let i = index"
          [appHighlight]="getAvailability(day, elem)"
          class="cursor-pointer on-hover"
          (click)="openMenuOptions(day, elem)"
        >
          <div class="align-row">
            <mat-card
            *ngFor="let cls of getScheduledClasses(day.classes, elem)"
              class="class-card"
            >{{ getShortClassInfo(cls) }}</mat-card>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="align-right">
      <button
          mat-raised-button
          color="accent"
          (click)="editSchedule()"
          class="margin-y"
        >Uaktualnij plan</button>
    </div>
</mat-card>
