.main-container {
  height: 969px - 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

mat-card {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  padding: 40px;
}
