<div class="main-container">
  <mat-card>
    <span class="mat-display-2">Witaj!</span>
    <p class="mat-subheading-2">Znajdujesz się obecnie na stronie służącej do układania planu zajęć.</p>
    <p class="mat-body-1">Możesz również zobaczyć, wprowadzić lub edytować dane o kierunkach, grupach, studentach, przedmiotach czy salach, należących do Twojego wydziału.</p>
  </mat-card>
</div>
