<mat-toolbar
  *ngIf="checkRoute()"
  color="accent"
>
  <mat-toolbar-row>
    <button
      mat-icon-button
      (click)="goBack()"
    >
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
    <span>Lista kierunków na wydziale {{ globals.department.name }}</span>
  </mat-toolbar-row>
</mat-toolbar>

<table
  mat-table
  [dataSource]="dataSource"
  class="mat-elevation-z8"
>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th
      mat-header-cell
      *matHeaderCellDef
    > Nazwa </th>
    <td
      mat-cell
      *matCellDef="let major"
      (click)="seeMoreMajor(major.id)"
      class="cursor-pointer"
    > {{ major.name }}
    </td>
  </ng-container>

  <!-- Type Column -->
  <ng-container matColumnDef="type">
      <th
        mat-header-cell
        *matHeaderCellDef
      > Typ studiów </th>
      <td
        mat-cell
        *matCellDef="let major"
      (click)="seeMoreMajor(major.id)"
        class="cursor-pointer"
      > {{ getMajorTypes(major) }}
      </td>
    </ng-container>

    <!-- Mode Column -->
    <ng-container matColumnDef="mode">
      <th
        mat-header-cell
        *matHeaderCellDef
      > Tryb studiów </th>
      <td
        mat-cell
        *matCellDef="let major"
      (click)="seeMoreMajor(major.id)"
        class="cursor-pointer"
      > {{ getMajorModes(major) }}
      </td>
    </ng-container>


  <!-- Delete Column -->
  <ng-container matColumnDef="delete">
    <th
      mat-header-cell
      *matHeaderCellDef
    >Usuń</th>
    <td
      mat-cell
      *matCellDef="let major"
    >
      <button
        mat-icon-button
        color="warn"
        (click)="deleteMajor(major)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr
    mat-header-row
    *matHeaderRowDef="['name', 'type', 'mode', 'delete']"
  ></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: ['name', 'type', 'mode', 'delete'];"
  ></tr>
</table>
<mat-card class="align-right">
  <button
    mat-raised-button
    color="accent"
    (click)="addMajor()"
    class="btn-style"
  >Dodaj nowy kierunek</button>
</mat-card>
