<mat-toolbar color="accent">
  <mat-toolbar-row>
    <button
      mat-icon-button
      (click)="goBack()"
    >
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
    <span>Plan zajęć : {{ nameInfo }}</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card *ngIf="schedule && (schedule.completed || schedule.teacherId || schedule.roomId); else notCompleted">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th
          class="font-500 width-narrow"
          scope="col"
        >Godzina\Dzień</th>
        <th
          *ngFor="let day of schedule.days"
          class="font-500"
          scope="col"
        >{{ day.dayType | translateToPl }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let elem of classTime">
        <th
          class="font-500 width-narrow"
          scope="row"
        >{{ elem.from }} - {{ elem.to }}</th>
        <td
          *ngFor="let day of schedule.days; let i = index"
          class="cursor-pointer on-hover"
        >
          <div
            *ngIf="day.classes && day.classes.length"
            class="align-row"
          >
            <mat-card
            *ngFor="let cls of getScheduledClasses(day.classes, elem)"
              class="class-card"
            >{{ getClassDetails(cls, elem) }}</mat-card>

          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="align-right margin-y">
    <button
      mat-raised-button
      color="accent"
      (click)="editSchedule()"
    >
      Edytuj plan zajęć
    </button>
    <button
      *ngIf="schedule.majorGroup"
      mat-raised-button
      color="accent"
      class="margin-left"
      (click)="deleteSchedule()"
    >
      Usuń plan zajęć
    </button>
  </div>
</mat-card>
<ng-template #notCompleted>
  <mat-card>
    <p class="mat-subheading-1">Plan zajęć nie został jeszcze dodany.</p>
    <div class="align-right">
      <button
          mat-raised-button
          color="accent"
          (click)="createSchedule()"
          class="margin-y"
        >Stwórz nowy plan</button>
    </div>
  </mat-card>
</ng-template>
