
.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
  border: solid 1px black;
  background: #45ed9c;
  padding: 3px;
  text-align: center;
}

mat-card.class-card {
  padding: 0;
  max-width: 95px;
  margin: 0;
}

.width-narrow {
  width: 92px;
}

table {
  color: black;

  &.table-bordered>tbody>tr {
    height: 100px;
  }

  &.table-bordered>tbody>tr>td {
    min-width: 310px;

    div.align-row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}

.font-500 {
  font-weight: 500;
}

.align-right {
  text-align: end;
}

.margin-y {
  margin: 22px 0;
}

.margin-left {
  margin-left: 12px;
}
