<mat-toolbar color="accent">
  <mat-toolbar-row>
    <h2>{{ department ? globals.department.name : '' }}</h2>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card>
  <p>Poniżej znajduje się lista kierunków dostępnych na tym wydziale.</p>
</mat-card>
<app-majors-list></app-majors-list>
