.custom-styling {
  background-color: #388e3c;
  padding: 14px 24px;
  font-size: 18px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #c8e6c9;
  border-radius: 4px;
}

mat-icon {
  color: white;
  font-size: 24px;
  margin-right: 10px;
}
