<mat-toolbar color="accent">
  <mat-toolbar-row>
    <button
      mat-icon-button
      (click)="goBack()"
    >
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
    <span>{{ group ? group.parentMajor.name : '' }}</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card *ngIf="group">
  <div class="align-right">
    <span>
      <button
        *ngIf="viewMode"
        mat-icon-button
        color="accent"
        (click)="viewMode = false;"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-icon-button
        color="warn"
        (click)="deleteMajorGroup()"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </span>
  </div>
  <ng-container *ngIf="viewMode; else editMode">
    <p>Typ studiów:
      <span>{{ group.type === 'FIRST' ? 'I stopień' : 'II stopień' }}
      </span>
    </p>
    <p>Tryb studiów:
      <span>{{ group.mode === 'FULL_TIME' ? 'Stacjonarne' : 'Niestacjonarne' }}</span>
    </p>
    <p>Rok studiów:
      <span>{{ group.year }}</span>
    </p>
    <p>Semestr studiów:
      <span>{{ group.semester }}</span>
    </p>
    <p>Rok rozpoczęcia studiów:
      <span>{{ group.beginYear }}</span>
    </p>
  </ng-container>
  <ng-template #editMode>
    <form [formGroup]="editMajorGroupForm">
      <p>Typ studiów:</p>
      <mat-form-field appearance="outline">
        <mat-select formControlName="type">
          <mat-option
            *ngFor="let type of types"
            [value]="type.value"
          >
            {{ type.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <p>Tryb studiów</p>
      <mat-form-field appearance="outline">
        <mat-select formControlName="mode">
          <mat-option
            *ngFor="let mode of modes"
            [value]="mode.value"
          >
            {{ mode.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <p>Rok studiów:</p>
      <mat-form-field appearance="outline">
        <mat-select formControlName="year">
          <mat-option
            *ngFor="let year of years"
            [value]="year"
          >
            {{ year }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <p>Semestr studiów:</p>
      <mat-form-field appearance="outline">
        <mat-select formControlName="semester">
          <mat-option
            *ngFor="let semester of semesters"
            [value]="semester"
          >
            {{ semester }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <p>Rok rozpoczęcia studiów:</p>
      <mat-form-field appearance="outline">
        <input
          matInput
          formControlName="beginYear"
        />
        <mat-error>
          <span *ngIf="editMajorGroupForm.controls['beginYear'].hasError('required')">
            Pole jest wymagane.
          </span>
          <span *ngIf="editMajorGroupForm.controls['beginYear'].hasError('invalidYear')">
            Niepoprawnie wprowadzony rok.
          </span>
        </mat-error>
      </mat-form-field>
    </form>
    <div class="align-right margin-y">
      <button
        mat-raised-button
        color="accent"
        (click)="updateMajorGroup()"
        class="btn-style"
      >Uaktualnij kierunek</button>
    </div>
  </ng-template>
  <div class="align-right">
    <button
      mat-raised-button
      color="accent"
      (click)="displaySchedule(group)"
    >
      Wyświetl plan zajęć
    </button>
  </div>
  <app-students-list
    [majorGroupId]="group?.id"
    [majorId]="majorId"
  ></app-students-list>
</mat-card>

<div *ngIf="!group">
  <mat-card class="info-card">
    <h2 class="mat-h2">
      Brak danych do wyświetlenia.
    </h2>
  </mat-card>
</div>
