<h1 mat-dialog-title>
  <span *ngIf="!data.course">Dodaj Przedmiot</span>
  <span *ngIf="data.course">Edytuj Przedmiot</span>
</h1>
<div mat-dialog-content>
  <form [formGroup]="newCourseForm">

    <!-- Name Input -->
    <mat-form-field appearance="outline">
      <mat-label>Nazwa przedmiotu</mat-label>
      <input
        matInput
        formControlName="name"
      >
      <mat-error>
        <span *ngIf="newCourseForm.controls['name'].hasError('required')">
          Pole jest wymagane.
        </span>
      </mat-error>
    </mat-form-field>

    <!-- Major Input -->
    <mat-form-field appearance="outline">
      <mat-label>Kierunek</mat-label>
      <mat-select formControlName="major">
        <mat-option
          *ngFor="let major of data.majors"
          [value]="major"
        >
          {{ major.name }}
        </mat-option>
      </mat-select>
      <mat-error>
        <span *ngIf="newCourseForm.controls['major'].hasError('required')">
          Pole jest wymagane.
        </span>
      </mat-error>
    </mat-form-field>

    <!-- MajorType Input-->
    <mat-form-field appearance="outline">
      <mat-select
        formControlName="majorType"
        placeholder="Typ studiów"
      >
        <mat-option
          *ngFor="let type of types"
          [value]="type"
        >
          {{ type === 'FIRST' ? 'I stopień' : 'II stopień' }}
        </mat-option>
      </mat-select>
      <mat-error>
        <span *ngIf="newCourseForm.controls['majorType'].hasError('required')">
          Pole jest wymagane.
        </span>
      </mat-error>
    </mat-form-field>

    <!-- MajorMode Input-->
    <mat-form-field appearance="outline">
      <mat-select
        formControlName="majorMode"
        placeholder="Tryb studiów"
      >
        <mat-option
          *ngFor="let mode of modes"
          [value]="mode"
        >
          {{ mode === 'FULL_TIME' ? 'Stacjonarne' : 'Niestacjonarne' }}
        </mat-option>
      </mat-select>
      <mat-error>
        <span *ngIf="newCourseForm.controls['majorMode'].hasError('required')">
          Pole jest wymagane.
        </span>
      </mat-error>
    </mat-form-field>

    <!-- Semester Input -->
    <mat-form-field appearance="outline">
      <mat-label>Semestr</mat-label>
      <mat-select formControlName="semester">
        <mat-option
          *ngFor="let semester of data.semesters"
          [value]="semester"
        >
          {{ semester }}
        </mat-option>
      </mat-select>
      <mat-error>
        <span *ngIf="newCourseForm.controls['semester'].hasError('required')">
          Pole jest wymagane.
        </span>
      </mat-error>
    </mat-form-field>

    <div [formGroup]="hoursForm">
      <!-- Lecture Input -->
      <mat-form-field appearance="outline">
        <mat-label>Wykłady</mat-label>
        <input
          matInput
          formControlName="lecture"
        >
        <mat-error>
          <span *ngIf="hoursForm.controls['lecture'].hasError('pattern')">
            Wymagane tylko liczby.
          </span>
        </mat-error>
      </mat-form-field>

      <!-- Lab Input -->
      <mat-form-field appearance="outline">
        <mat-label>Labolatoria</mat-label>
        <input
          matInput
          formControlName="lab"
        >
        <mat-error>
          <span *ngIf="hoursForm.controls['lab'].hasError('pattern')">
            Wymagane tylko liczby.
          </span>
        </mat-error>
      </mat-form-field>

      <!-- IT Lab Input -->
      <mat-form-field appearance="outline">
        <mat-label>Labolatoria komputerowe</mat-label>
        <input
          matInput
          formControlName="itLab"
        >
        <mat-error>
          <span *ngIf="hoursForm.controls['itLab'].hasError('pattern')">
            Wymagane tylko liczby.
          </span>
        </mat-error>
      </mat-form-field>

      <!-- Recitation Input -->
      <mat-form-field appearance="outline">
        <mat-label>Ćwiczenia audytoryjne</mat-label>
        <input
          matInput
          formControlName="recitation"
        >
        <mat-error>
          <span *ngIf="hoursForm.controls['recitation'].hasError('pattern')">
            Wymagane tylko liczby.
          </span>
        </mat-error>
      </mat-form-field>

      <!-- Project Input -->
      <mat-form-field appearance="outline">
        <mat-label>Ćwiczenia projektowe</mat-label>
        <input
          matInput
          formControlName="project"
        >
        <mat-error>
          <span *ngIf="hoursForm.controls['project'].hasError('pattern')">
            Wymagane tylko liczby.
          </span>
        </mat-error>
      </mat-form-field>

      <!-- Different Input -->
      <mat-form-field appearance="outline">
        <mat-label>Inne zajęcia</mat-label>
        <input
          matInput
          formControlName="different"
        >
        <mat-error>
          <span *ngIf="hoursForm.controls['different'].hasError('pattern')">
            Wymagane tylko liczby.
          </span>
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button
    mat-raised-button
    (click)="onCancel()"
  >Odrzuć</button>
  <button
    mat-raised-button
    color="accent"
    (click)="onSaveStudent()"
    cdkFocusInitial
  >Zapisz</button>
</div>
