<mat-toolbar color="accent">
  <mat-toolbar-row>
    <button
      mat-icon-button
      (click)="goBack()"
    >
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
    <span>Przedmioty</span>
  </mat-toolbar-row>
</mat-toolbar>

<ng-template #empty>
  <mat-card class="none-info">
    BRAK DANYCH O PRZEDMIOTACH
  </mat-card>
</ng-template>
<mat-card>
  <p>Filtruj dane:</p>
  <div class="adjust-line">
    <!-- Major -->
    <mat-form-field appearance="outline">
      <mat-label>Kierunek</mat-label>
      <mat-select
        [formControl]="major"
        placeholder="Wybierz kierunek"
      >
        <mat-option
          *ngFor="let major of majors"
          [value]="major"
        >
          {{ major.name }}
        </mat-option>
        <mat-option [value]="null">
          Wszystkie
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Semester -->
    <mat-form-field appearance="outline">
      <mat-label>Semestr</mat-label>
      <mat-select
        [formControl]="semester"
        placeholder="Wybierz semestr"
      >
        <mat-option
          *ngFor="let semester of semesters"
          [value]="semester"
        >
          {{ semester }}
        </mat-option>
        <mat-option [value]="null">
          Wszystkie
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-card>

<table
  *ngIf="courses && courses.length; else empty"
  mat-table
  [dataSource]="dataSource"
  class="mat-elevation-z8"
>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th
      mat-header-cell
      *matHeaderCellDef
    > Nazwa </th>
    <td
      mat-cell
      *matCellDef="let course"
      class="cursor-pointer"
    > {{ course.name }}
    </td>
  </ng-container>

  <!-- Major Column -->
  <ng-container matColumnDef="major">
    <th
      mat-header-cell
      *matHeaderCellDef
    > Kierunek </th>
    <td
      mat-cell
      *matCellDef="let course"
      class="cursor-pointer"
    > {{ course.major.name }}
    </td>
  </ng-container>

  <!-- MajorType Column -->
  <ng-container matColumnDef="majorType">
    <th
      mat-header-cell
      *matHeaderCellDef
    > Typ studiów </th>
    <td
      mat-cell
      *matCellDef="let course"
      class="cursor-pointer"
    > {{ course.majorType === 'FIRST' ? 'I stopień' : 'II stopień' }}
    </td>
  </ng-container>

  <!-- MajorMode Column -->
  <ng-container matColumnDef="majorMode">
    <th
      mat-header-cell
      *matHeaderCellDef
    > Tryb studiów </th>
    <td
      mat-cell
      *matCellDef="let course"
      class="cursor-pointer"
    > {{ course.majorMode === 'FULL_TIME' ? 'Stacjonarne' : 'Niestacjonarne' }}
    </td>
  </ng-container>

  <!-- Semester Column -->
  <ng-container matColumnDef="semester">
    <th
      mat-header-cell
      *matHeaderCellDef
    > Semestr </th>
    <td
      mat-cell
      *matCellDef="let course"
      class="cursor-pointer"
    > {{ course.semester }}
    </td>
  </ng-container>

  <!-- Lecture Hours Column -->
  <ng-container matColumnDef="lecture">
    <th
      mat-header-cell
      *matHeaderCellDef
    > Wykłady </th>
    <td
      mat-cell
      *matCellDef="let course"
      class="cursor-pointer"
    > {{ course.hours.lecture ? course.hours.lecture : 0 }}
    </td>
  </ng-container>

  <!-- Lab Hours Column -->
  <ng-container matColumnDef="lab">
    <th
      mat-header-cell
      *matHeaderCellDef
    > Labolatoria </th>
    <td
      mat-cell
      *matCellDef="let course"
      class="cursor-pointer"
    > {{ course.hours.lab ? course.hours.lab : 0 }}
    </td>
  </ng-container>

  <!-- IT Lab Hours Column -->
  <ng-container matColumnDef="itLab">
    <th
      mat-header-cell
      *matHeaderCellDef
    > Labolatoria komputerowe </th>
    <td
      mat-cell
      *matCellDef="let course"
      class="cursor-pointer"
    > {{ course.hours.itLab ? course.hours.itLab : 0 }}
    </td>
  </ng-container>

  <!-- Recitation Hours Column -->
  <ng-container matColumnDef="recitation">
    <th
      mat-header-cell
      *matHeaderCellDef
    > Ćwiczenia audytoryjne </th>
    <td
      mat-cell
      *matCellDef="let course"
      class="cursor-pointer"
    > {{ course.hours.recitation ? course.hours.recitation : 0 }}
    </td>
  </ng-container>

  <!-- Project Hours Column -->
  <ng-container matColumnDef="project">
    <th
      mat-header-cell
      *matHeaderCellDef
    > Ćwiczenia projektowe </th>
    <td
      mat-cell
      *matCellDef="let course"
      class="cursor-pointer"
    > {{ course.hours.project ? course.hours.project : 0 }}
    </td>
  </ng-container>

  <!-- Different Hours Column -->
  <ng-container matColumnDef="different">
    <th
      mat-header-cell
      *matHeaderCellDef
    > Inne zajęcia </th>
    <td
      mat-cell
      *matCellDef="let course"
      class="cursor-pointer"
    > {{ course.hours.different ? course.hours.different : 0 }}
    </td>
  </ng-container>

  <!-- Edit Column -->
  <ng-container matColumnDef="edit">
      <th
        mat-header-cell
        *matHeaderCellDef
      >Edytuj</th>
      <td
        mat-cell
        *matCellDef="let course"
      >
        <button
          mat-icon-button
          color="accent"
          (click)="editCourse(course)"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
      <th
        mat-header-cell
        *matHeaderCellDef
      >Usuń</th>
      <td
        mat-cell
        *matCellDef="let course"
      >
        <button
          mat-icon-button
          color="warn"
          (click)="deleteCourse(course)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

  <tr
    mat-header-row
    *matHeaderRowDef="getColumns()"
  ></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: getColumns();"
  ></tr>
</table>
<mat-card class="align-right">
  <button
    mat-raised-button
    color="accent"
    (click)="addCourse()"
    class="margin-y"
  >Dodaj przedmiot</button>
</mat-card>
