.align-right {
  text-align: end;
}

table.mat-table {
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.btn-style {
  margin-top: 12px;
  width: 200px;
}

.adjust-line {
  display: flex;
  flex-direction: row;
  width: 25%;
  justify-content: space-between;

  mat-form-field {
    margin-right: 6px;
  }
}
