<ng-template #empty>
  <p>
    BRAK DANYCH O GRUPACH ROCZNIKÓW
  </p>
</ng-template>
<table
   *ngIf="groups && groups.length; else empty"
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8"
  >

    <!-- Year Column -->
    <ng-container matColumnDef="year">
      <th
        mat-header-cell
        *matHeaderCellDef
      > Rok studiów </th>
      <td
        mat-cell
        *matCellDef="let group"
        (click)="displayGroupStudents(group)"
        class="cursor-pointer"
      > {{ group.year }}
      </td>
    </ng-container>

    <!-- Semester Column -->
    <ng-container matColumnDef="semester">
      <th
        mat-header-cell
        *matHeaderCellDef
      > Semestr </th>
      <td
        mat-cell
        *matCellDef="let group"
        (click)="displayGroupStudents(group)"
        class="cursor-pointer"
      > {{ group.semester }}
      </td>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="type">
      <th
        mat-header-cell
        *matHeaderCellDef
      > Typ studiów </th>
      <td
        mat-cell
        *matCellDef="let group"
        (click)="displayGroupStudents(group)"
        class="cursor-pointer"
      > {{ group.type === 'FIRST' ? 'I stopień' : 'II stopień' }}
      </td>
    </ng-container>

    <!-- Mode Column -->
    <ng-container matColumnDef="mode">
      <th
        mat-header-cell
        *matHeaderCellDef
      > Tryb studiów </th>
      <td
        mat-cell
        *matCellDef="let group"
        (click)="displayGroupStudents(group)"
        class="cursor-pointer"
      > {{ group.mode === 'FULL_TIME' ? 'Stacjonarne' : 'Niestacjonarne' }}
      </td>
    </ng-container>

     <!-- BeginYear Column -->
     <ng-container matColumnDef="beginYear">
      <th
        mat-header-cell
        *matHeaderCellDef
      > Data rozpoczęcia studiów </th>
      <td
        mat-cell
        *matCellDef="let group"
        (click)="displayGroupStudents(group)"
        class="cursor-pointer"
      > {{ group.beginYear }}
      </td>
    </ng-container>

    <!-- Display schedule Column -->
    <ng-container matColumnDef="displaySchedule">
      <th
        mat-header-cell
        *matHeaderCellDef
      >Wyświetl plan zajęć</th>
      <td
        mat-cell
        *matCellDef="let group"
      >
        <button
          mat-raised-button
          color="accent"
          (click)="displaySchedule(group)"
        >
          Wyświetl plan zajęć
        </button>
      </td>
    </ng-container>

    <!-- Edit Column -->
    <ng-container matColumnDef="edit">
      <th
        mat-header-cell
        *matHeaderCellDef
      >Edytuj</th>
      <td
        mat-cell
        *matCellDef="let group"
      >
        <button
          mat-icon-button
          color="accent"
          (click)="editGroup(group.id)"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
      <th
        mat-header-cell
        *matHeaderCellDef
      >Usuń</th>
      <td
        mat-cell
        *matCellDef="let group"
      >
        <button
          mat-icon-button
          color="warn"
          (click)="deleteGroup(group.id)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="getColumns()"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: getColumns();"
    ></tr>
  </table>
  <div class="align-right">
    <button
      mat-raised-button
      color="accent"
      (click)="addGroup()"
      class="margin-y"
    >Dodaj nowy rocznik</button>
  </div>
