<h1 mat-dialog-title>
  <span *ngIf="!data.student">Dodaj studenta</span>
  <span *ngIf="data.student">Edytuj studenta</span>
</h1>
<div mat-dialog-content>
  <form [formGroup]="newStudentForm">

    <!-- Index Input -->
    <mat-form-field appearance="outline">
      <mat-label>Number indeksu studenta</mat-label>
      <input
        matInput
        placeholder="000000"
        formControlName="index"
      >
      <mat-error>
        <span *ngIf="newStudentForm.controls['index'].hasError('pattern')">
          Numer indeksu powinien składać się jedynie z cyfr.
        </span>
        <span *ngIf="newStudentForm.controls['index'].hasError('minlength')">
          Numer indeksu powinien zawierać minimum 6 cyfr.
        </span>
        <span *ngIf="newStudentForm.controls['index'].hasError('required')">
          Numer indeksu jest wymagany.
        </span>
      </mat-error>
    </mat-form-field>

    <!-- First name Input -->
    <mat-form-field appearance="outline">
      <mat-label>Imię</mat-label>
      <input
        matInput
        formControlName="firstName"
      >
      <mat-error>
        <span *ngIf="newStudentForm.controls['firstName'].hasError('required')">
          Imię jest wymagane.
        </span>
      </mat-error>
    </mat-form-field>

    <!-- Last name Input -->
    <mat-form-field appearance="outline">
      <mat-label>Nazwisko</mat-label>
      <input
        matInput
        formControlName="lastName"
      >
      <mat-error>
        <span *ngIf="newStudentForm.controls['lastName'].hasError('required')">
          Nazwisko jest wymagane.
        </span>
      </mat-error>
    </mat-form-field>

    <!-- PESEL Input -->
    <mat-form-field appearance="outline">
      <mat-label>PESEL</mat-label>
      <input
        matInput
        placeholder="YYMMDD00000"
        formControlName="pesel"
      >
      <mat-error>
        <span *ngIf="newStudentForm.controls['pesel'].hasError('pattern')">
          PESEL powinien składać się jedynie z cyfr.
        </span>
        <span *ngIf="newStudentForm.controls['pesel'].hasError('minlength')">
          PESEL powinien zawierać minimum 11 cyfr.
        </span>
        <span *ngIf="newStudentForm.controls['pesel'].hasError('required')">
            PESEL jest wymagany.
          </span>
      </mat-error>
    </mat-form-field>

     <!-- Major Input -->
     <!-- <mat-form-field appearance="outline">
        <mat-label>Kierunek</mat-label>
        <mat-select formControlName="major">
          <mat-option
            *ngFor="let major of majors"
            [value]="major"
          >
            {{ major.name }}
          </mat-option>
        </mat-select>
        <mat-error>
          <span *ngIf="newStudentForm.controls['major'].hasError('required')">
            Pole jest wymagane.
          </span>
        </mat-error>
      </mat-form-field> -->
  </form>
</div>
<div mat-dialog-actions>
  <button
    mat-raised-button
    (click)="onCancel()"
  >Odrzuć</button>
  <button
    mat-raised-button
    color="accent"
    (click)="onSaveStudent()"
    cdkFocusInitial
  >Zapisz</button>
</div>
