<h1 mat-dialog-title>Dodaj kierunek</h1>
<div mat-dialog-content>
  <p>Dodanie listy studentów będzie mozliwe w momencie edycji danego kierunku.</p>
  <form [formGroup]="newMajorForm">
    <mat-form-field appearance="outline">
      <input
        matInput
        placeholder="Nazwa kierunku"
        formControlName="name"
      >
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button
    mat-raised-button
    (click)="onCancel()"
  >Odrzuć</button>
  <button
    mat-raised-button
    color="accent"
    (click)="onSaveMajor()"
    cdkFocusInitial
  >Zapisz</button>
</div>
