<h1 mat-dialog-title>Plan zajęć dla tej grupy nie istnieje.</h1>
<span>Czy chcesz utworzyć nowy podział godzin?</span>
<div mat-dialog-actions>
  <button
    mat-raised-button
    (click)="onCancel()"
  >Odrzuć</button>
  <button
    mat-raised-button
    color="accent"
    (click)="onConfirm()"
    cdkFocusInitial
  >Tak</button>
</div>
