<mat-toolbar color="accent">
  <mat-toolbar-row>
    <button
      mat-icon-button
      (click)="goBack()"
    >
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
    <span>Rozkłady zajęć</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card class="align-right">
  <button
      mat-raised-button
      color="accent"
      (click)="createSchedule()"
      class="margin-y"
    >Stwórz nowy plan</button>
</mat-card>

<mat-vertical-stepper
  linear
  #stepper
>
  <mat-step [stepControl]="majorForm">
    <form [formGroup]="majorForm">
      <ng-template matStepLabel>Wybierz kierunek studiów</ng-template>
      <!-- Major Input -->
      <mat-form-field appearance="outline">
        <mat-label>Kierunek</mat-label>
        <mat-select formControlName="major">
          <mat-option
            *ngFor="let major of majors"
            [value]="major"
          >
            {{ major.name }}
          </mat-option>
        </mat-select>
        <mat-error>
          <span *ngIf="majorForm.controls['major'].hasError('required')">
            Pole jest wymagane.
          </span>
        </mat-error>
      </mat-form-field>
      <div class="width-50 align-right">
        <button
          mat-button
          matStepperNext
          (click)="fetchGroups()"
        >Następny</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="groupForm">
    <form [formGroup]="groupForm">
      <ng-template matStepLabel>Wybierz grupę</ng-template>
      <!-- Group Input -->
      <mat-form-field appearance="outline">
        <mat-label>Rocznik</mat-label>
        <mat-select formControlName="group">
          <mat-option
            *ngFor="let group of majorGroups"
            [value]="group"
          >
            {{ getGroupInfo(group) }}
          </mat-option>
        </mat-select>
        <mat-error>
          <span *ngIf="majorForm.controls['major'].hasError('required')">
            Pole jest wymagane.
          </span>
        </mat-error>
      </mat-form-field>
      <div class="width-50 align-right">
        <button
          mat-button
          matStepperPrevious
        >Powrót</button>
        <button
          mat-button
          matStepperNext
        >Następny</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Podsumowanie</ng-template>
    <p>Kierunek: {{ majorForm.value.major.name }}</p>
    <p>Grupa: {{ getGroupInfo(groupForm.value.group) }}</p>
    <div class="width-50 align-right">
      <button
        mat-button
        matStepperPrevious
      >Powrót</button>
      <button
        mat-button
        color="accent"
        (click)="loadSchedule()"
      >Szukaj planu zajęć</button>
    </div>
  </mat-step>
</mat-vertical-stepper>

