<ng-template #empty>
  <mat-card>
    BRAK DANYCH O STUDENTACH
  </mat-card>
</ng-template>

<p>Filtruj dane:</p>
<mat-form-field appearance="outline">
  <input
    matInput
    (keyup)="applyFilter($event.target.value)"
    placeholder="Filter"
  >
</mat-form-field>

<table
  *ngIf="students && students.length; else empty"
  mat-table
  [dataSource]="dataSource"
  class="mat-elevation-z8"
  matSort
>
  <!-- Index number Column -->
  <ng-container matColumnDef="index">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
    > Numer indeksu </th>
    <td
      mat-cell
      *matCellDef="let student"
      class="cursor-pointer"
    > {{ student.index }}
    </td>
  </ng-container>

  <!-- First name Column -->
  <ng-container matColumnDef="firstName">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
    > Imię </th>
    <td
      mat-cell
      *matCellDef="let student"
      class="cursor-pointer"
    > {{ student.firstName }}
    </td>
  </ng-container>

  <!-- Last name Column -->
  <ng-container matColumnDef="lastName">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
    > Nazwisko </th>
    <td
      mat-cell
      *matCellDef="let student"
      class="cursor-pointer"
    > {{ student.lastName }}
    </td>
  </ng-container>

  <!-- PESEL Column -->
  <ng-container matColumnDef="pesel">
    <th
      mat-header-cell
      *matHeaderCellDef
    > PESEL </th>
    <td
      mat-cell
      *matCellDef="let student"
      class="cursor-pointer"
    > {{ student.pesel }}
    </td>
  </ng-container>

  <!-- Major Column -->
  <ng-container matColumnDef="major">
    <th
      mat-header-cell
      *matHeaderCellDef
    > Kierunek </th>
    <td
      mat-cell
      *matCellDef="let student"
      class="cursor-pointer"
    > {{ student.major ? student.major.name : 'BRAK INFORMACJI' }}
    </td>
  </ng-container>

  <!-- Group Column -->
  <ng-container matColumnDef="gr">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
    > GA/GP </th>
    <td
      mat-cell
      *matCellDef="let student"
      class="cursor-pointer"
    > {{ student.classGroup ? student.classGroup.regularGroup : 'N/A' }}
    </td>
  </ng-container>

  <!-- Lab Group Column -->
  <ng-container matColumnDef="grLab">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
    > GĆL </th>
    <td
      mat-cell
      *matCellDef="let student"
      class="cursor-pointer"
    > {{ student.classGroup ? student.classGroup.labGroup : 'N/A' }}
    </td>
  </ng-container>

  <!-- Edit Column -->
  <ng-container matColumnDef="edit">
    <th
      mat-header-cell
      *matHeaderCellDef
    >Edytuj</th>
    <td
      mat-cell
      *matCellDef="let student"
    >
      <button
        mat-icon-button
        color="accent"
        (click)="editStudent(student)"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Delete Column -->
  <ng-container matColumnDef="delete">
    <th
      mat-header-cell
      *matHeaderCellDef
    >Usuń</th>
    <td
      mat-cell
      *matCellDef="let student"
    >
      <button
        mat-icon-button
        color="warn"
        (click)="deleteStudent(student)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr
    mat-header-row
    *matHeaderRowDef="displayedColumns"
  ></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns;"
  ></tr>
</table>
<div class="align-right">
  <button
    mat-raised-button
    color="accent"
    (click)="enableSorting()"
    class="margin-y margin-x"
  >Wlacz sortowanie</button>
  <button
    mat-raised-button
    color="accent"
    (click)="addStudent()"
    class="margin-y"
  >Dodaj studenta</button>
</div>
