<h1 mat-dialog-title>
  <span>Dodaj nowy rocznik</span>
</h1>
<div mat-dialog-content>
  <form [formGroup]="newGroupForm">
    <p>Typ studiów:</p>
    <mat-form-field appearance="outline">
      <mat-select
        formControlName="type"
        placeholder="Typ studiów"
        (valueChange)="defineSelectOptions()"
      >
        <mat-option
          *ngFor="let type of types"
          [value]="type"
        >
          {{ type === 'FIRST' ? 'I stopień' : 'II stopień' }}
        </mat-option>
      </mat-select>
      <mat-error>
        <span *ngIf="newGroupForm.controls['type'].hasError('required')">
          Pole jest wymagane.
        </span>
      </mat-error>
    </mat-form-field>

    <p>Tryb studiów</p>
    <mat-form-field appearance="outline">
      <mat-select
        formControlName="mode"
        placeholder="Tryb studiów"
        (valueChange)="defineSelectOptions()"
      >
        <mat-option
          *ngFor="let mode of modes"
          [value]="mode"
        >
          {{ mode === 'FULL_TIME' ? 'Stacjonarne' : 'Niestacjonarne' }}
        </mat-option>
      </mat-select>
      <mat-error>
        <span *ngIf="newGroupForm.controls['mode'].hasError('required')">
          Pole jest wymagane.
        </span>
      </mat-error>
    </mat-form-field>

    <p>Rok studiów:</p>
    <mat-form-field appearance="outline">
      <mat-select formControlName="year">
        <mat-option
          *ngFor="let year of years"
          [value]="year"
        >
          {{ year }}
        </mat-option>
      </mat-select>
      <mat-error>
        <span *ngIf="newGroupForm.controls['year'].hasError('required')">
          Pole jest wymagane.
        </span>
      </mat-error>
    </mat-form-field>

    <p>Semestr studiów:</p>
    <mat-form-field appearance="outline">
      <mat-select formControlName="semester">
        <mat-option
          *ngFor="let semester of semesters"
          [value]="semester"
        >
          {{ semester }}
        </mat-option>
      </mat-select>
      <mat-error>
        <span *ngIf="newGroupForm.controls['type'].hasError('required')">
          Pole jest wymagane.
        </span>
      </mat-error>
    </mat-form-field>

    <!-- Begin Year Input -->
    <mat-form-field appearance="outline">
      <mat-label>Data rozpoczęcia studiów</mat-label>
      <input
        matInput
        placeholder="YYYY"
        formControlName="beginYear"
      >
      <mat-error>
        <span *ngIf="newGroupForm.controls['beginYear'].hasError('required')">
          Pole jest wymagane.
        </span>
        <span *ngIf="newGroupForm.controls['beginYear'].hasError('invalidYear')">
          Zły format daty.
        </span>
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button
    mat-raised-button
    (click)="onCancel()"
  >Odrzuć</button>
  <button
    mat-raised-button
    color="accent"
    (click)="onSaveStudent()"
    cdkFocusInitial
  >Zapisz</button>
</div>
