<h1 mat-dialog-title>Jesteś pewny, ze chcesz usunąć ten przedmiot?</h1>
<div mat-dialog-actions>
  <button
    mat-raised-button
    (click)="onCancel()"
  >Odrzuć</button>
  <button
    mat-raised-button
    color="accent"
    (click)="onConfirm()"
    cdkFocusInitial
  >Tak, usuń</button>
</div>
