<mat-nav-list>
    <span
      mat-list-item
      disabled
    >
      <span
        mat-line
        class="mat-h4 subhead"
      >{{ getDayAndTime() }}</span>
    </span>
    <mat-divider></mat-divider>
    <a
      mat-list-item
      *ngIf="classes && classes.length"
    >
      <mat-icon>warning</mat-icon>
      <span
        mat-line
        (click)="openLink($event)"
      >Nie można dokonać zmian.</span>
      <span
        mat-line
        class="mat-small"
      >W tym czasie odbywają się już zajęcia.</span>
    </a>
    <a
      mat-list-item
      *ngIf="(!classes || !classes.length) && !occupied"
      (click)="openLink($event, 'ADD')"
    >
      <mat-icon>add</mat-icon>
      <span mat-line>Dodaj status: 'ZAJĘTY'</span>
      <span mat-line>Żadne zajęcia nie będą mogły zostać ustalone o tej godzinie.</span>
    </a>
    <a
      mat-list-item
      *ngIf="occupied"
      (click)="openLink($event, 'DELETE')"
    >
      <mat-icon>delete</mat-icon>
      <span mat-line>Usuń status: 'ZAJĘTY'</span>
      <span mat-line>Określenie dostępności o wskazanej godzinie.</span>
    </a>
   </mat-nav-list>
