.inline-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.btn-style {
  width: 200px;
}

.align-right {
  display: flex;
  justify-content: flex-end;
}

form, p {
  margin: 22px 0;
}

.column {
  display: flex;
  flex-direction: column;
}

.cursor-pointer {
  cursor: pointer;
}

.margin-y {
  margin: 22px 0;
}
