<mat-toolbar color="accent">
    <mat-toolbar-row>
      <button mat-icon-button (click)="goBack()">
        <mat-icon>keyboard_backspace</mat-icon>
      </button>
      <span>KIERUNEK: {{ major ? major.name : '' }}</span>
    </mat-toolbar-row>
  </mat-toolbar>
<mat-card>
  <div class="align-right">
    <span>
      <button
        *ngIf="viewMode"
        mat-icon-button
        color="accent"
        (click)="viewMode = false;"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-icon-button
        color="warn"
        (click)="deleteMajor(major)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </span>
  </div>
  <ng-container *ngIf="viewMode; else editMode">
    <p>Rodzaje dostępnych stopni studiów:
      <span>{{ majorType }}
      </span>
    </p>
    <p>Rodzaje dostępnych trybów studiów:
      <span>{{ majorMode }}</span>
    </p>
  </ng-container>
  <ng-template #editMode>
    <form [formGroup]="editMajorForm">
      <p>Nazwa kierunku:</p>
      <mat-form-field appearance="outline">
        <input
          matInput
          formControlName="name"
        >
      </mat-form-field>
      <p>Rodzaje dostępnych stopni studiów:</p>
      <div class="column">
        <mat-checkbox
        *ngFor="let type of types"
        [checked]="checkMajorType(type)"
        (change)="updateMajorTypes(type)"
      >{{ type.viewValue }}</mat-checkbox>
      </div>
      <p>Rodzaje dostępnych trybów studiów:</p>
      <div class="column">
        <mat-checkbox
          *ngFor="let mode of modes"
          [checked]="checkMajorMode(mode)"
          (change)="updateMajorModes(mode)"
        >{{ mode.viewValue }}</mat-checkbox>
      </div>
    </form>
  </ng-template>

  <div
    *ngIf="!viewMode"
    class="align-right"
  >
    <button
      mat-raised-button
      color="accent"
      (click)="updateMajor()"
      class="btn-style margin-y"
    >Uaktualnij kierunek</button>
  </div>
  <app-major-groups-list
    [viewMode]="viewMode"
    [majorName]="major?.name"
  ></app-major-groups-list>
</mat-card>
