.small-font {
  font-size: 12px !important;
}

.medium-font {
  font-size: 13px !important;
}

.bolder {
  font-weight: 500 !important;
}

mat-card {
  padding: 0;

  &.classes-list {
    margin-bottom: 24px;
    width: 30%;
  }
}

table {
  color: black;

  &.table-bordered>tbody>tr {
    height: 100px;
  }

  &.table-bordered>tbody>tr>td {
    min-width: 310px;

    div.align-row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}

.font-500 {
  font-weight: 500;
}

.cursor-pointer {
  cursor: pointer;
}

.on-hover:hover {
  opacity: 0.8 !important;
}

.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
  border: solid 1px black;
  background: #45ed9c;
  padding: 3px;
  text-align: center;
}

mat-card.class-card {
  max-width: 95px;
  margin: 0;
}

.width-narrow {
  width: 92px;
}

.shadow {
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
}
