<ng-template #empty>
  <mat-card class="none-info">
    BRAK DANYCH O ZAJĘCIACH
  </mat-card>
</ng-template>
<form [formGroup]="classesForm">
  <table
    *ngIf="classes && classes.length; else empty"
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8"
    formArrayName="classes"
  >

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th
        mat-header-cell
        *matHeaderCellDef
      > Nazwa </th>
      <td
        mat-cell
        *matCellDef="let class"
        class="cursor-pointer"
      > {{ class.name }}
      </td>
    </ng-container>

    <!-- Course Column -->
    <ng-container matColumnDef="course">
      <th
        mat-header-cell
        *matHeaderCellDef
      >Kiedy</th>
      <td
        mat-cell
        *matCellDef="let class"
        class="cursor-pointer"
      > {{ getCourseInfo(class.course) }}
      </td>
    </ng-container>

    <!-- Group Column -->
    <ng-container matColumnDef="group">
      <th
        mat-header-cell
        *matHeaderCellDef
      >Grupa</th>
      <td
        mat-cell
        *matCellDef="let class"
        class="cursor-pointer"
      > {{ getStudentGroup(class.studentGroupNr, class.type) }}
      </td>
    </ng-container>

    <!-- ClassType Column -->
    <ng-container matColumnDef="type">
      <th
        mat-header-cell
        *matHeaderCellDef
      > Typ zajęć </th>
      <td
        mat-cell
        *matCellDef="let class"
        class="cursor-pointer"
      > {{ getTypeInfo(class.type) }}
      </td>
    </ng-container>

    <!-- Room Column -->
    <ng-container matColumnDef="room">
      <th
        mat-header-cell
        *matHeaderCellDef
      > Sala </th>
      <td
        mat-cell
        *matCellDef="let class; let index = index"
        [formGroupName]="index"
        class="cursor-pointer"
      >
        <mat-form-field appearance="outline">
          <mat-select
            formControlName="room"
            placeholder="Wybierz salę"
          >
            <mat-option
              *ngFor="let room of filterRooms(class)"
              [value]="room"
            >
              {{ getRoomInfo(room) }}
              <span *ngIf="!room">BRAK SAL</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Teacher Column -->
    <ng-container matColumnDef="teacher">
      <th
        mat-header-cell
        *matHeaderCellDef
      > Nauczyciel </th>
      <td
        mat-cell
        *matCellDef="let class; let index = index"
        class="cursor-pointer"
        [formGroupName]="index"
      >
        <mat-form-field appearance="outline">
          <mat-select
            formControlName="teacher"
            placeholder="Wybierz nauczyciela"
          >
            <mat-option
              *ngFor="let teacher of teachers"
              [value]="teacher"
            >
              {{ getTeacherInfo(teacher) }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>

     <!-- Regularity Column -->
     <ng-container matColumnDef="regularity">
      <th
        mat-header-cell
        *matHeaderCellDef
      > Okresowość </th>
      <td
        mat-cell
        *matCellDef="let class"
        class="cursor-pointer"
      > {{ class.regularity === 'EVERY_WEEK' ? 'Co tydzień' : 'Co dwa tygodnie' }}
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="getColumns()"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: getColumns();"
    ></tr>
  </table>
</form>
