@import '~@angular/material/prebuilt-themes/purple-green.css';


body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}

.mat-snack-bar-container {
  padding: 0 !important;
  border-radius: 100px !important;
}
