<mat-toolbar color="accent">
  <mat-toolbar-row>
    <button
      mat-icon-button
      (click)="goBack()"
    >
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
    <span>Studenci</span>
  </mat-toolbar-row>
</mat-toolbar>

<ng-template #empty>
  <mat-card>
    BRAK DANYCH O STUDENTACH
  </mat-card>
</ng-template>

<mat-card>
  <p>Filtruj dane:</p>
  <mat-form-field appearance="outline">
    <input
      matInput
      (keyup)="applyFilter($event.target.value)"
      placeholder="Filter"
    >
  </mat-form-field>
</mat-card>

<table
  *ngIf="students && students.length; else empty"
  mat-table
  [dataSource]="dataSource"
  class="mat-elevation-z8"
>

  <!-- Index number Column -->
  <ng-container matColumnDef="index">
    <th
      mat-header-cell
      *matHeaderCellDef
    > Numer indeksu </th>
    <td
      mat-cell
      *matCellDef="let student"
      class="cursor-pointer"
    > {{ student.index }}
    </td>
  </ng-container>

  <!-- First name Column -->
  <ng-container matColumnDef="firstName">
    <th
      mat-header-cell
      *matHeaderCellDef
    > Imię </th>
    <td
      mat-cell
      *matCellDef="let student"
      class="cursor-pointer"
    > {{ student.firstName }}
    </td>
  </ng-container>

  <!-- Last name Column -->
  <ng-container matColumnDef="lastName">
    <th
      mat-header-cell
      *matHeaderCellDef
    > Nazwisko </th>
    <td
      mat-cell
      *matCellDef="let student"
      class="cursor-pointer"
    > {{ student.lastName }}
    </td>
  </ng-container>

  <!-- PESEL Column -->
  <ng-container matColumnDef="pesel">
    <th
      mat-header-cell
      *matHeaderCellDef
    > PESEL </th>
    <td
      mat-cell
      *matCellDef="let student"
      class="cursor-pointer"
    > {{ student.pesel }}
    </td>
  </ng-container>

  <!-- Major Column -->
  <ng-container matColumnDef="major">
    <th
      mat-header-cell
      *matHeaderCellDef
    > Kierunek </th>
    <td
      mat-cell
      *matCellDef="let student"
      class="cursor-pointer"
    > {{ student.major ? student.major.name : 'BRAK INFORMACJI' }}
    </td>
  </ng-container>

  <tr
    mat-header-row
    *matHeaderRowDef="getColumns()"
  ></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: getColumns();"
  ></tr>
</table>
<!-- <div class="align-right">
  <button
      mat-raised-button
      color="accent"
      (click)="addStudent()"
      class="margin-y"
    >Dodaj studenta</button>
</div> -->
