<mat-nav-list>
  <span
    mat-list-item
    disabled
  >
    <span
      mat-line
      class="mat-h4 subhead"
    >{{ getDayAndTime() }}</span>
  </span>
  <mat-divider></mat-divider>
  <a
    mat-list-item
    *ngIf="!data || (!data.selectedClass && (!data.scheduledClasses || !data.scheduledClasses.length))"
  >
    <mat-icon>warning</mat-icon>
    <span
      mat-line
      (click)="openLink($event)"
    >Nie wybrano żadnych przedmiotów.</span>
  </a>
  <a
    mat-list-item
    *ngIf="data && data.selectedClass && !checkIfAvailable()"
    (click)="openLink($event, 'ADD')"
  >
    <mat-icon>add</mat-icon>
    <span mat-line>Dodaj przedmiot:</span>
    <span
      mat-line
      class="mat-small"
    >{{ getClass() }}</span>
  </a>

  <a
    mat-list-item
    *ngIf="data && data.scheduledClasses && data.scheduledClasses.length"
    (click)="openLink($event, 'DELETE')"
  >
    <mat-icon>delete</mat-icon>
    <span mat-line>Usuń przedmioty</span>
    <span
      mat-line
      *ngFor="let cls of data.scheduledClasses"
    >
      <mat-checkbox
        class="mat-small font-400"
        (change)="changeClassesToDelete($event, cls)"
        (click)="preventBubbling($event)"
      >{{ getClass(cls) }}</mat-checkbox>
    </span>
  </a>
  <a
    mat-list-item
    *ngIf="checkIfAvailable()"
    (click)="openLink($event)"
  >
    <mat-icon>error</mat-icon>
    <span mat-line>Nie można dodać zajęć. Konflikty:</span>
    <span
      mat-line
      *ngFor="let conflict of getConflicts()"
    >{{ conflict.message }}</span>
  </a>

</mat-nav-list>
