span.subhead.mat-line {
  font-weight: 400;
  color: rgba(255,255,255,.7);
}

span.mat-line {
  margin: 4px 0 !important;
}

mat-checkbox.font-400 {
  font-weight: 400 !important;
  label {
    font-weight: 400 !important;
  }
  label span {
    font-weight: 400 !important;
  }

  .mat-checkbox-layout .mat-checkbox-label {
    font-weight: 400 !important;
  }
}

mat-divider {
  margin-bottom: 12px;
}
