<mat-toolbar color="accent">
  <mat-toolbar-row>
    <button
      mat-icon-button
      (click)="goBack()"
    >
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
    <span>Nauczyciele</span>
  </mat-toolbar-row>
</mat-toolbar>

<ng-template #empty>
  <mat-card class="none-info">
    BRAK DANYCH O NAUCZYCIELACH
  </mat-card>
</ng-template>

<mat-card>
  <p>Filtruj dane:</p>
  <mat-form-field appearance="outline">
    <input
      matInput
      (keyup)="applyFilter($event.target.value)"
      placeholder="Filter"
    >
  </mat-form-field>
</mat-card>

<table
  *ngIf="teachers && teachers.length; else empty"
  mat-table
  [dataSource]="dataSource"
  class="mat-elevation-z8"
>

  <!-- Title number Column -->
  <ng-container matColumnDef="title">
    <th
      mat-header-cell
      *matHeaderCellDef
    > Tytuł </th>
    <td
      mat-cell
      *matCellDef="let teacher"
      class="cursor-pointer"
    > {{ teacher.title }}
    </td>
  </ng-container>

  <!-- First name Column -->
  <ng-container matColumnDef="firstName">
    <th
      mat-header-cell
      *matHeaderCellDef
    > Imię </th>
    <td
      mat-cell
      *matCellDef="let teacher"
      class="cursor-pointer"
    > {{ teacher.firstName }}
    </td>
  </ng-container>

  <!-- Last name Column -->
  <ng-container matColumnDef="lastName">
    <th
      mat-header-cell
      *matHeaderCellDef
    > Nazwisko </th>
    <td
      mat-cell
      *matCellDef="let teacher"
      class="cursor-pointer"
    > {{ teacher.lastName }}
    </td>
  </ng-container>

  <!-- Room Column -->
  <ng-container matColumnDef="room">
    <th
      mat-header-cell
      *matHeaderCellDef
    > Numer pokoju </th>
    <td
      mat-cell
      *matCellDef="let teacher"
      class="cursor-pointer"
    > {{ getRoom(teacher ? teacher.office : null) }}
    </td>
  </ng-container>

  <!-- Display Schedule Column -->
  <ng-container matColumnDef="displaySchedule">
    <th
      mat-header-cell
      *matHeaderCellDef
    > Plan zajęć </th>
    <td
      mat-cell
      *matCellDef="let teacher"
      class="cursor-pointer"
    >
      <button
        mat-raised-button
        color="accent"
        (click)="displaySchedule(teacher)"
      >
        Wyświetl plan zajęć
      </button>
    </td>
  </ng-container>

  <!-- Edit Column -->
  <ng-container matColumnDef="edit">
    <th
      mat-header-cell
      *matHeaderCellDef
    >Edytuj</th>
    <td
      mat-cell
      *matCellDef="let teacher"
    >
      <button
        mat-icon-button
        color="accent"
        (click)="editTeacher(teacher)"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Delete Column -->
  <ng-container matColumnDef="delete">
    <th
      mat-header-cell
      *matHeaderCellDef
    >Usuń</th>
    <td
      mat-cell
      *matCellDef="let teacher"
    >
      <button
        mat-icon-button
        color="warn"
        (click)="deleteTeacher(teacher)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr
    mat-header-row
    *matHeaderRowDef="getColumns()"
  ></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: getColumns();"
  ></tr>
</table>
<mat-card class="align-right">
  <button
    mat-raised-button
    color="accent"
    (click)="addTeacher()"
    class="margin-y"
  >Dodaj nauczyciela</button>
</mat-card>
